[Unit]
Description=Mount user cache directory on /run/user
After=systemd-tmpfiles-setup.service

[Mount]
What=/run/user/%U/cache
Where=/home/%u/.cache
Type=fuse.bindfs
#Options=0700

[Install]
WantedBy=default.target
