! special
*.foreground:      #D6B89A
*.background:      #181512
*.cursorColor:      #bea492

! black
*.color0: #332d29
*.color8: #817267

! red
*.color1: #703F3F
*.color9: #A35C5C

! green
*.color2: #607051
*.color10: #8CA376

! yellow
*.color3: #70683F
*.color11: #A3985C

! blue
*.color4: #3B414A
*.color12: #646E7D

! magenta
*.color5: #6B6070
*.color13: #9C8CA3

! cyan
*.color6: #5A7069
*.color14: #83A399

! white
*.color7: #706050
*.color15: #A38C75

! URxvt
!URxvt.font: xft:LiterationMonoPowerline Nerd Font:regular:size=11:antialias=true
!URxvt.boldFont: xft:LiterationMonoPowerline Nerd Font:bold:size=11:antialias=true
URxvt.font: xft:LiterationMono Nerd Font:regular:size=11:antialias=true
URxvt.boldFont: xft:LiterationMono Nerd Font:bold:size=11:antialias=true
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt*loginShell: false
URxvt*internalBorder: 1

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

! scrollback
URxvt*saveLines: 5000

! friendlier unicode entry
URxvt.iso14755: false
URxvt*perl-ext: default,matcher,unichr,-selection,url-select

! url-select
URxvt.colorUL: #8fa1b3
URxvt.url-select.underline:      true
URxvt.url-select.launcher:       firefox
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.matcher.button:     1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
