! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2b303b
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #dfe1e8
#define base07 #eff1f5
#define base08 #bf616a
#define base09 #d08770
#define base0A #ebcb8b
#define base0B #a3be8c
#define base0C #96b5b4
#define base0D #8fa1b3
#define base0E #b48ead
#define base0F #ab7967

! real background transparency
*.depth:        32
*.background:   rgba:2b00/3000/3b00/f800
*.foreground:   base05
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

! Liberation Mono for Powerline
URxvt.font: xft:LiterationMono Nerd Font:regular:size=11.6:antialias=true
URxvt.boldFont: xft:LiterationMono Nerd Font:bold:size=11.6:antialias=true
URxvt.letterSpace: -1
! Tamzen font
!URxvt*font  : -*-tamzenforpowerline-medium-*-*-*-20-*-*-*-*-*-*-*
!URxvt*font1 : -*-tamzenforpowerline-medium-*-*-*-9-*-*-*-*-*-*-*
!URxvt*font2 : -*-tamzenforpowerline-medium-*-*-*-12-*-*-*-*-*-*-*
!URxvt*font3 : -*-tamzenforpowerline-medium-*-*-*-13-*-*-*-*-*-*-*
!URxvt*font4 : -*-tamzenforpowerline-medium-*-*-*-15-*-*-*-*-*-*-*
!URxvt*font5 : -*-tamzenforpowerline-medium-*-*-*-16-*-*-*-*-*-*-*
!URxvt*font6 : -*-tamzenforpowerline-medium-*-*-*-20-*-*-*-*-*-*-*
!URxvt.letterSpace: -1

URxvt*scrollBar: false
URxvt*internalBorder: 1

URxvt*loginShell: false

! end and home keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! ctrl + arrow keys
URxvt.keysym.Control-Up:   \033[1;5A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.resize-font.step: 4

! scrollback
URxvt*saveLines: 5000

! unicode entry (https://emergent.unpythonic.net/01340900642)
URxvt*perl-ext-common: default,unichr,matcher,-selection,keyboard-select

! diable keycap insert picture mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! url-select
URxvt.colorUL: #8fa1b3
URxvt.url-launcher:       firefox
URxvt.keysym.C-Delete:    perl:matcher:last
URxvt.keysym.M-Delete:    perl:matcher:list
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! keyboard-select
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
